@import "vars";

// mixins
@mixin border-radius-blur($blur: var(--radius)) {
    border-radius: $blur;
}

// reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --radius: 1.25rem;
}

html {
    height: 100%;
    margin: 0;
    scrollbar-gutter: stable;
}

body {
    background-color: $main-color;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "National Park", sans-serif;
    height: 100%;
    margin: 0;
    padding-top: 4rem;
    text-align: center;
}

main {
    flex: 1;
    p {
        font-size: 1.25em;
        font-style: italic;
        margin: 0 1rem;
        padding: 0.5rem;
        padding-bottom: 1rem;
        text-shadow: black 2px 2px 2px;
    }
}

// navbar
.navbar {
    background: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    left: 0;
    list-style: none;
    min-height: 4rem;
    overflow: visible;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    &::before {
        background: linear-gradient(to right, $secondary-color, $main-color);
        backdrop-filter: blur(4px);
        content: "";
        inset: 0;
        position: absolute;
        z-index: -1;
    }
}

nav {
    a {
        @include border-radius-blur();
        background-color: $secondary-color;
        display: inline-block;
        font-size: 1.75vh;
        font-weight: bold;
        margin: 0.25rem;
        padding: 0.75rem;

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
            color: $pinkish;
        }
    }
}

// subtitulos generales
.subtitle {
    font-size: 2vh;
    font-style: normal;
    font-weight: bold;
    padding-top: 2rem;
    text-align: center;
    text-shadow: black 2px 2px 2px;
}

a {
    color: white;
    text-decoration: none;
}

ol {
    li {
        list-style-type: disc;
        margin: 2vh;
        text-align: justify;
        text-shadow: black 2px 2px 2px;
    }
}

footer {
    align-items: center;
    background-color: rgba(0, 0 , 0, 0.25);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    z-index: 999;

    &::before {
        background: linear-gradient(to right, $secondary-color, $main-color);
        backdrop-filter: blur(4px);
        content: "";
        inset: 0;
        position: absolute;
        z-index: -1;
    }
}

// seccion de redes
#social-media {
    img {
        height: auto;
        max-width: 10vh;
        padding: 0.25rem;
        width: auto;
    }
}

// seccion de copyright
#copyright {
    @include border-radius-blur();
    background-color: $secondary-color;
    color: rgb(240, 240, 240);
    display: inline-block;
    font-size: 0.75em;
    font-weight: bold;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

// fondos de cada pagina
.home {
    background-image: url(../images/home-bg.webp);
}

.conditions,
.contact,
.information,
.services {
    background-image: url(../images/generic-bg.webp);
}

.conditions article,
.information article {
    ol {
        padding-left: 10%;
        padding-right: 10%;
    }

    p {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.contact {
    background-image: url(../images/generic-bg.webp);
}

.information {
    background-image: url(../images/generic-bg.webp);
}

// seccion de servicios
#services-list {
    margin: 1rem auto;
    max-width: 90%;
    padding: 1rem;
    ul {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
        margin: 0;
        padding: 0;

        li {
            @include border-radius-blur();
            background-color: $element-squareish;
            border: 0.2rem solid $pinkish;
            color: white;
            font-size: 2vh;
            font-weight: bold;
            list-style: none;
            padding: 2rem;
            text-align: center;
            white-space: nowrap;
        }
    }
}

#welcome-img {
    @include border-radius-blur();
    animation-duration: 2s;
    animation-name: home-anim;
    box-shadow: 0px 0px 4px 4px #ffffff40;
    height: auto;
    margin-top: 1rem;
    max-width: 35vh;
    width: auto;
}

@keyframes home-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#message-box {
    @include border-radius-blur();
    background-color: $element-squareish;
    border: 0.2rem solid $pinkish;
    color: white;
    height: 20vh;
    margin: 2rem 2rem 0rem 2rem;
    max-width: 80vw;
    padding: 2rem;
    width: 40%;
}

button {
    @include border-radius-blur();
    background-color: $element-squareish;
    border: 0.2rem solid $pinkish;
    color: $pinkish;
    display: block;
    font-size: 2vh;
    margin: 0.5rem auto;
    padding: 1rem;
    width: 10%;
}

#information-story {
    text-align: justify;
}

#information-video {
    @include border-radius-blur();
}

// mobile query
@media (max-width: 768px) {
    body {
        font-size: 100%;
        padding-top: 4rem;

        header {
            nav {
                a {
                    font-size: 2vh;
                    margin: 0.25rem;
                    padding: 0.25rem;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }

    main {
        p {
            font-size: 1.25em;
        }
    }

    .navbar {
        align-items: center;
        flex-direction: column;
        padding: 1rem;
    }

    #social-media {
        img {
            max-width: 10vh;
        }
    }

    #welcome-img {
        max-width: 25vh;
    }

    #services-list {
        font-size: 2vh;
        line-height: 4rem;

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0;
            padding: 0;

            li {
                width: 100%;
            }
        }
    }

    #message-box {
        width: 100%;
    }

    button {
        width: 20%;
    }

    .conditions {
        article {
            ol {
                padding-left: 5%;
                padding-right: 5%;
            }
        }
    }

    .information {
        article {
            p {
                padding-left: 5%;
                padding-right: 5%;
            }
        }
    }
}